header {
  background-color: #f8f8f8;
  padding: 10px;
  height: 70px;
  display: flex;
  align-items: center;
}

img {
  width: 100px;
}

/* .options-navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
} */


.spacer {
  flex: 1 1 auto;
}
